My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        224
      ],
      "id": "fdd500bd-3037-4036-aca3-51a73f83daa8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        96
      ],
      "id": "421e93af-dcf7-46ed-806d-b44cf967aad3",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lEOpAlssh0qfSZ4h",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "df550f02-3e94-4899-b224-aca66bbcd3e0",
      "name": "Extract from DOC",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "d62e082d-9f29-4d18-a263-1d12c73ca5da",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0e27603f-4088-41c7-9d7a-883f477e4845",
      "name": "Process Files One by One",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -672,
        224
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name.toLowerCase() }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name.toLowerCase() }}",
                    "rightValue": ".doc",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOC"
            }
          ]
        },
        "options": {}
      },
      "id": "d7438a36-95a6-452a-b5bd-d171ed77fd7a",
      "name": "Check File Extension",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        96
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "id": "d3667afa-2a92-40e4-997e-25ec18d1dd83",
      "name": "Summarize Text",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        96
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e0e4246e-db6e-4d93-8674-3334399a1caa",
      "name": "Google Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        320
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "PAE8A59dnhOh80Td",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "924c1a58-efc1-44c2-9f76-334cc4015e79",
              "name": "chatInput",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c564ae6b-bf13-42ae-9ce0-13e9a0053b06",
      "name": "Merge Extracted Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e83fdb6-18e8-4b14-aece-e7ebc47dcd57",
              "name": "filename",
              "value": "=={{ $('Search files and folders').item.json.name }}",
              "type": "string"
            },
            {
              "id": "cf4da595-9964-4115-b3b6-8e02d28d435b",
              "name": "summary",
              "value": "=={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dde8bc26-5751-47b2-a1f7-ada8f46d0ffe",
      "name": "Prepare Sheet Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        96
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1le-MEc-20YfsCfdOsRiiq1bu3taqLOEZ_oB5Af4soUc",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1le-MEc-20YfsCfdOsRiiq1bu3taqLOEZ_oB5Af4soUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1le-MEc-20YfsCfdOsRiiq1bu3taqLOEZ_oB5Af4soUc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File Name": "=={{ $json.filename }}",
            "Summary": "=={{ $json.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d16be8de-fbcc-4431-8b42-0768ec93b58b",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        336
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TLYRjGVpPYD7PG02",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "'11bn6TqCI2NVM4Ufs-j983gyZix7agt37' in parents",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -896,
        224
      ],
      "id": "f11736da-6052-49ce-bdbe-86dd292b419a",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lEOpAlssh0qfSZ4h",
          "name": "Google Drive OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Check File Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from DOC": {
      "main": [
        [
          {
            "node": "Merge Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Merge Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Files One by One": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Extension": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from DOC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Text": {
      "main": [
        [
          {
            "node": "Prepare Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Text",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extracted Text": {
      "main": [
        [
          {
            "node": "Summarize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Data": {
      "main": [
        [
          {
            "node": "Append to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Google Sheet": {
      "main": [
        [
          {
            "node": "Process Files One by One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Process Files One by One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b30875ce-58d6-415f-b326-c2758e6d373c",
  "meta": {
    "instanceId": "f6404e3f2ec3e50d9cef61df05b529ae2a74e9c6c1ef9a5479cb77067027b922"
  },
  "nodeGroups": [],
  "id": "Njy4QyStvIfCjx6G",
  "tags": []
}